<p id="notice"><%= notice %></p>

<p>
  <b>Datarequisicao:</b>
  <%= @requisicao.datarequisicao %>
</p>

<p>
  <b>Quantidadebolsista:</b>
  <%= @requisicao.quantidadebolsista %>
</p>

<p>
  <b>Horariobolsista:</b>
  <%= @requisicao.horariobolsista %>
</p>

<p>
  <b>Assunto:</b>
  <%= @requisicao.assunto %>
</p>

<p>
  <b>Nomedebolsista:</b>
  <%= @requisicao.nomedebolsista %>
</p>

<p>
  <b>setor:</b>
  <%= @requisicao.setor.nomesetor %>
</p>


<%= link_to 'Editar', edit_requisicao_path(@requisicao) %> |
<%= link_to 'Voltar', requisicaos_path %>
