<p id="notice"><%= notice %></p>

<p>
  <b>Nomesetor:</b>
  <%= @setor.nomesetor %>
</p>

<p>
  <b>Coordenador:</b>
  <%= @setor.coordenador %>
</p>

<p>
  <b>Totalsetor:</b>
  <%= @setor.totalsetor %>
</p>

<p>
  <b>Emailsetor:</b>
  <%= @setor.emailsetor %>
</p>

<p>
  <b>Ramal:</b>
  <%= @setor.ramal %>
</p>


<%= link_to 'Edit', edit_setor_path(@setor) %> |
<%= link_to 'Back', setors_path %>
