<h1>Lista de bolsistas</h1>

<table>
  <tr>
    
  </tr>

<% @bolsistaos.each do |bolsistao| %>
  <tr>
    <td><%= bolsistao.matricula %></td>
    <td><%= bolsistao.numeropasta %></td>
    <td><%= bolsistao.nomebolsista %></td>
    <td><%= bolsistao.endereco %></td>
    <td><%= bolsistao.bairro %></td>
    <td><%= bolsistao.cidade %></td>
    <td><%= bolsistao.estado %></td>
    <td><%= bolsistao.telefoneresidencial %></td>
    <td><%= bolsistao.telefonecelular %></td>
    <td><%= bolsistao.email %></td>
    <td><%= bolsistao.cpf %></td>
    <td><%= bolsistao.rg %></td>
    <td><%= bolsistao.situacao %></td>
    <td><%= bolsistao.nomebanco %></td>
    <td><%= bolsistao.numeroagencia %></td>
    <td><%= bolsistao.numeroconta %></td>
    <td><%= bolsistao.semestreinicialcurso %></td>
    <td><%= bolsistao.anoinicialcurso %></td>
    <td><%= bolsistao.observacao %></td>
    <td><%= bolsistao.curso %></td>
    <td><%= link_to 'Mostrar', bolsistao %></td>
    <td><%= link_to 'Editar', edit_bolsistao_path(bolsistao) %></td>
    <td><%= link_to 'Excluir', bolsistao, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Bolsista', new_bolsistao_path %>
