<p id="notice"><%= notice %></p>

<p>
  <b>Matricula:</b>
  <%= @bolsistao.matricula %>
</p>

<p>
  <b>NumeroPasta:</b>
  <%= @bolsistao.numeropasta %>
</p>

<p>
  <b>NomeBolsista:</b>
  <%= @bolsistao.nomebolsista %>
</p>

<p>
  <b>Endereço:</b>
  <%= @bolsistao.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%= @bolsistao.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @bolsistao.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @bolsistao.estado %>
</p>

<p>
  <b>TelefoneResidencial:</b>
  <%= @bolsistao.telefoneresidencial %>
</p>

<p>
  <b>TelefoneCelular:</b>
  <%= @bolsistao.telefonecelular %>
</p>

<p>
  <b>Email:</b>
  <%= @bolsistao.email %>
</p>

<p>
  <b>CPF:</b>
  <%= @bolsistao.cpf %>
</p>

<p>
  <b>RG:</b>
  <%= @bolsistao.rg %>
</p>

<p>
  <b>Situação:</b>
  <%= @bolsistao.situacao %>
</p>

<p>
  <b>NomeBanco:</b>
  <%= @bolsistao.nomebanco %>
</p>

<p>
  <b>NumeroAgencia:</b>
  <%= @bolsistao.numeroagencia %>
</p>

<p>
  <b>NumeroConta:</b>
  <%= @bolsistao.numeroconta %>
</p>

<p>
  <b>SemestreInicialCurso:</b>
  <%= @bolsistao.semestreinicialcurso %>
</p>

<p>
  <b>AnoInicialCurso:</b>
  <%= @bolsistao.anoinicialcurso %>
</p>

<p>
  <b>Observação:</b>
  <%= @bolsistao.observacao %>
</p>

<p>
  <b>curso:</b>
  <%= @bolsistao.curso.nomecurso %>
</p>


<%= link_to 'Editar', edit_bolsistao_path(@bolsistao) %> |
<%= link_to 'Voltar', bolsistaos_path %>
