<h1>Listas de cursos</h1>

<table>
  <tr>
    <th>Nomecurso</th>
    <th>Numeroperiodo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cursos.each do |curso| %>
  <tr>
    <td><%= curso.nomecurso %></td>
    <td><%= curso.numeroperiodo %></td>
    <td><%= link_to 'Mostrar', curso %></td>
    <td><%= link_to 'Editar', edit_curso_path(curso) %></td>
    <td><%= link_to 'Excluir', curso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Curso', new_curso_path %>
