<h1>Lista de Cursos</h1>

<table>
  <tr>
    
  </tr>

<% @cursos.each do |curso| %>
  <tr>
    <td><%= curso.nomecurso %></td>
    <td><%= curso.numeroperiodo %></td>
    <td><%= link_to 'Mostrar', curso %></td>
    <td><%= link_to 'Editar', edit_curso_path(curso) %></td>
    <td><%= link_to 'Excluir', curso, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Curso', new_curso_path %>
