<p id="notice"><%= notice %></p>

<p>
  <b>Nomecurso:</b>
  <%= @curso.nomecurso %>
</p>

<p>
  <b>Numeroperiodo:</b>
  <%= @curso.numeroperiodo %>
</p>


<%= link_to 'Editar', edit_curso_path(@curso) %> |
<%= link_to 'Voltar', cursos_path %>
