<p id="notice"><%= notice %></p>

<p>
  <b>Matricula:</b>
  <%= @bolsistum.matricula %>
</p>

<p>
  <b>Numeropasta:</b>
  <%= @bolsistum.numeropasta %>
</p>

<p>
  <b>Nomebolsista:</b>
  <%= @bolsistum.nomebolsista %>
</p>

<p>
  <b>Endereco:</b>
  <%= @bolsistum.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%= @bolsistum.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @bolsistum.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @bolsistum.estado %>
</p>

<p>
  <b>Telefoneresidencial:</b>
  <%= @bolsistum.telefoneresidencial %>
</p>

<p>
  <b>Telefonecelular:</b>
  <%= @bolsistum.telefonecelular %>
</p>

<p>
  <b>Email:</b>
  <%= @bolsistum.email %>
</p>

<p>
  <b>Cpf:</b>
  <%= @bolsistum.cpf %>
</p>

<p>
  <b>Rg:</b>
  <%= @bolsistum.rg %>
</p>

<p>
  <b>Situacao:</b>
  <%= @bolsistum.situacao %>
</p>

<p>
  <b>Nomebanco:</b>
  <%= @bolsistum.nomebanco %>
</p>

<p>
  <b>Numeroagencia:</b>
  <%= @bolsistum.numeroagencia %>
</p>

<p>
  <b>Numeroconta:</b>
  <%= @bolsistum.numeroconta %>
</p>

<p>
  <b>Semestreinicialcurso:</b>
  <%= @bolsistum.semestreinicialcurso %>
</p>

<p>
  <b>Anoinicialcurso:</b>
  <%= @bolsistum.anoinicialcurso %>
</p>

<p>
  <b>Observacao:</b>
  <%= @bolsistum.observacao %>
</p>

<p>
  <b>Curso:</b>
  <%= @bolsistum.curso %>
</p>


<%= link_to 'Edit', edit_bolsistum_path(@bolsistum) %> |
<%= link_to 'Back', bolsista_path %>
